{% extends "base_generic.html" %}

{% load custom_filters %}


{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                {% for field in fields %}
                    <th>{{ field.display_name }}</th>
                {% endfor %}
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% for field in fields %}
                    <td>{{ instance.data|get_item:field.name|default:"-" }}</td>
                {% endfor %}
                <td>{{ instance.created_at|date:"d M Y, H:i" }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-secondary">View</a>
                    <a href="#" class="btn btn-sm btn-warning">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
